@import "foundation";
$breakpoints: map-merge($breakpoints, (large: 1025px));

@import url(https://fonts.googleapis.com/css?family=Lobster);

$accent-color: deeppink;

.center.title {
    font-family: "lobster";
    color: $accent-color;
    font-size: 1.5em;
}

label {
    font-family: Arial, Helvetica, sans-serif;
}
 
 #submit-button {
     margin-top: 1em;
     background-color: $accent-color;
 }
 
#canvas-div {
     overflow: scroll;
 }
 
 #neutral-menu, #num-colors, p {
     padding-left: 0.5em;
     padding-right: 0.5em;
 }
 
 #location-menu {
     @extend #neutral-menu;
     padding-top: 0.5em;
 }
 
 #color-menu label {
     padding-right: 0.5em;
 }
 
 #options {
     border-right: 1px solid $accent-color;
 }