<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="./dist/built.css"/>
        <script src="http://code.jquery.com/jquery-2.2.0.js"></script>
        <script src="./dist/built.js"></script>
        <title>Temperature Blanket Preview</title>
    </head>
    <body ng-app="temperature-blanket" ng-controller="TemperatureBlanketCtrl">
        <div class="vertical grid-frame">
            <div class="grid-block">
                <div id="options" class="vertical small-3 grid-block">
                    <div class="title-bar">
                        <div class="center title">Temperature Blanket Preview</div>
                    </div>
                    <div class="shrink grid-block" id="location-menu">
                        <form id="location">
                            <label for="location">Location</label>
                            <select id="location">
                                <option value="edmond">Edmond, OK 2015</option>
                                <option value="wileyPost">Wiley Post Airport, OK 2015</option>
                            </select>
                        </form>
                    </div>
                    <div class="grid-block" id="color-menu">
                        <form id="colors">
                            <div class="grid-block" id="num-colors">
                                <label for="range">Number of colors:</label>
                                <input type="range" min="1" max="15" ng-model="blanketParams.numColors">
                            </div> 
                            <div class="small-up-3 grid-block">
                                <p>Please choose colors in order from coldest temperature to hottest</p>
                                <div class="shrink grid-block"
                                    ng-repeat="color in blanketParams.colors | limitTo : blanketParams.numColors">
                                    <label for="color">Color {{$index + 1}}:</label>
                                    <input type="color" ng-model="blanketParams.colors[$index]">
                                </div>
                            </div>
                        </form>
                    </div>
                        
                    <div class="vertical grid-block" id="neutral-menu">
                        <form id="neutralForm">
                            <label for="neutralColor">Add an additional color...</label>
                            <input type="color" ng-model="blanketParams.neutralColor" id="neutralColor">
                            
                            <div>
                                <input type="checkbox" name="neutralOptions" ng-model="blanketParams.options.dayRow">
                                <label for="dayRow">...as an extra row between each day</label>
                            </div>
                            
                            <div>
                                <input type="checkbox" name="neutralOptions" ng-model="blanketParams.options.monthRow" checked>
                                <label for="monthRow">...as an extra row between each month</label>
                            </div>
                            
                            <div>    
                                <input type="checkbox" name="neutralOptions" ng-model="blanketParams.options.triangleCaps" checked>
                                <label for="triangleCaps">...as the first and last rows</label>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="canvas-div" class="grid-block small-9">        
                    <canvas id="canvas" height="{{canvasDimensions.height}}" width="{{canvasDimensions.width}}">Visualization of weather data as a knitted or crocheted blanket</canvas>
                </div>
            </div>
        </div>
    </body>
</html>