@import url(https://fonts.googleapis.com/css?family=Lobster);

canvas {
    border: thin solid black;
    margin-top: 20px;
}

h1 {
    font-family: "lobster";
    color: deeppink;
}

label {
    font-family: Arial, Helvetica, sans-serif;
}

input {
    margin-top: 1em;
    margin-right: 1em;
}

 #optional div {
     margin-left: 20px;
 }
 
 button {
     margin-top: 1em;
 }